#streamlit
#pandas
#numpy
#matplotlib
#scikit-learn
#tensorflow-cpu
#streamlit-option-menu

streamlit==1.46.1
pandas==2.3.1
numpy==2.3.1
matplotlib==3.10.3
scikit-learn==1.7.0
opencv-python==4.9.0.80
rich==14.0.0
markdown-it-py==3.0.0
pygments==2.19.2
mdurl==0.1.2
mediapipe==0.10.9
